<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2 m-0">
<a class="navbar-brand nav-link pl-2" href="/">
  <img src="/images/ASPHALT_BLANC-02.png" alt="logo" id="asphaltLogo"/>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarColor02">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://qodibop.github.io/Zloutch/">Zloutch</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#aboutUs">About Us</a>
  </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Enter a zipcode" name:"zipcodeNavBar">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
</nav>

<section id="sectionIndex" class="p-3 m-3">
<h5 class="text-center text-italic"><em><strong>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... Or this one is a full stack web developper."</br>
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain... Or this one is a full stack web developper."</em></strong></h5>
</br>
</br>
<h2 class="display-3">
    Who are you?
</h2>
<hr>

<div class="text-center pt-3 pb-5">
    <a href="/signupUser">
        <button class="btn btn-primary btn-lg mx-4">A Player</button>
    </a>
    <a href="/signupFacility">
        <button class="btn btn-primary btn-lg mx-4">A Facility</button>
    </a>
</div>

<h2 class="display-3" id="aboutUs">
    Who are we?
</h2>

<hr>

<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis nunc risus, aliquet laoreet nisi laoreet at. Sed nisl quam, faucibus nec lobortis quis, euismod vitae magna. Praesent malesuada, erat eget tristique egestas, ante eros malesuada eros, id scelerisque dui risus quis nulla. Aliquam erat volutpat. Sed sit amet varius quam. Sed sodales massa neque, quis lobortis augue sodales sed. Suspendisse mattis nulla quis nibh condimentum euismod. Sed pharetra non leo sed finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat scelerisque mollis. Vestibulum ut tincidunt nisl. Proin convallis ipsum in augue sodales tempor. Vivamus nec purus sed velit fringilla pulvinar. Nulla facilisi. Donec sit amet odio vitae tellus eleifend vestibulum.</p>
<p class="text-justify">Ut erat enim, suscipit sit amet mattis vitae, interdum nec nulla. Sed hendrerit sed nunc quis scelerisque. Nulla non risus laoreet tortor rutrum varius. Aenean sed dui sit amet urna placerat tempor nec ut sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis congue et lacus ut rhoncus. Vestibulum ac metus eget ligula scelerisque placerat a eget purus. Curabitur pharetra dictum libero sit amet tempor. Sed quis fringilla tellus, ut semper neque.</p>
<p class="text-justify">Fusce aliquam sit amet neque at vestibulum. Mauris ac consectetur diam. Quisque risus tellus, tempus sit amet orci eget, imperdiet pulvinar dolor. Quisque tellus enim, condimentum nec magna eu, pulvinar dapibus augue. Aenean vestibulum, mi in mollis pulvinar, quam diam dictum sapien, et placerat justo diam et sem. Praesent sed nisl et quam eleifend placerat. In facilisis libero ac augue dapibus semper. Nam non malesuada purus. Nunc placerat quis lacus vitae sagittis. Vivamus aliquet scelerisque faucibus. Morbi suscipit justo ac dictum finibus. Quisque fermentum ipsum in nisl egestas dictum.</p>
</sectcion>