<h1>
    Who are you?
</h1>
<hr>

<div class="text-center">
    <a href="/signupUser">
        <button class="btn btn-primary btn-lg">A Player</button>
    </a>
    <a href="/signupFacility">
        <button class="btn btn-primary btn-lg">A Facility</button>
    </a>
</div>