<h1>Set up a game</h1>
<form action="/search" method="post">
  <label>Arrondissement :
    <select name="localisation">
      <option value="1er arrondissement">1er</option>
      <option value="2ème arrondissement" selected>2ème</option>
      <option value="3ème arrondissement">3ème</option>
    </select>
  </label>
  <br>
  <label>Jour :
    <select name="day">
      <option value="vendredi">vendredi</option>
      <option value="samedi" selected>samedi</option>
      <option value="dimanche">dimanche</option>
    </select>
  </label>
  <br>
  <label>Créneau :
    <select name="time">
      <option value="07:00 - 09:00">07:00 - 09:00</option>
      <option value="18:00 - 20:00" selected>18:00 - 20:00</option>
      <option value="20:00 - 22:00">20:00 - 22:00</option>
    </select>
  </label>
  <button>Search</button>
</form>