body {
  padding: 50px;
  font-family: "Roboto", "Oswald", "Raleway", sans-serif, arial;
}

a {
  color: #00b7ff;
}

#asphaltLogo {
  height: 4.5rem;
}

h5 {
  font-style: italic;
  color: rgb(86, 23, 10);
}

#infoUser {
  border: solid rgb(86, 23, 10) 4px;
  border-radius: 2rem;
  margin: 1rem 4rem;
  text-align: center;
  padding-top: 1rem;
  margin-top: 4rem;
}

.infoUserTitle {
  text-decoration: underline;
}

hr {
  border: rgb(86, 23, 10) solid 1px;
}

.subSectionUser {
  margin-top: 4rem;
}

#descriFacility,
#subdescriFacility,
#openingInfo {
  border: solid rgb(86, 23, 10) 4px;
  border-radius: 2rem;
  margin: 1rem 4rem;
  text-align: center;
  padding: 1.5rem 1rem 1rem;
  margin-top: 2.5rem;
}

button {
  margin: 0.5rem;
}
