<form method="POST" action="/loginUser">
  <label>
    Username:
    <input type="text" name="username">
  </label>
  <br>
  <label>
    Password:
    <input type="password" name="password">
  </label>
  <button>Login</button>
</form>
