<section class="center-block">
  <form method="POST" action="/signupUser" enctype='multipart/form-data'>
    <label>
      Username:
      <input type="text" name="username">
    </label>
    <br>
    <label>
      Password:
      <input type="password" name="password">
    </label>
    <br>
    <label>
      Profil Picture:
      <input type="file" name="user-picture">
    </label>
    <br>
    <label>
      Email:
      <input type="text" name="email">
    </label>
    <br>
    <label>
      Adresse:
      <input type="text" name="address">
    </label>
    </br>
    <button class="btn btn-primary">Signup</button>
  </form>
</section>

<hr>
<div class="text-center">
  <p>Already registered?</p>
  <a href="/loginUser">
    <button class="btn btn-primary btn-lg">Login</button>
  </a>
</div>