<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2 m-0">
<a class="navbar-brand nav-link pl-2" href="/logout">
  <img src="/images/ASPHALT_BLANC-02.png" alt="logo" id="asphaltLogo"/>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarColor02">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Edit Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/profileFacility">Back to Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Enter a zipcode" name:"zipcodeNavBar">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
</nav>


<section id="sectionGoodPractices" class="p-3 m-3">

<h1 class="text-center">Good Practices</h1>

<hr class="px-5 mx-5">

<h2>Description</h2>
<h5>How to promote your location:</h5>
<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat nulla at maximus cursus. Fusce congue tempor nunc sit amet fringilla. Sed scelerisque dolor a feugiat mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam convallis magna in nibh pellentesque, sed tempus urna ultricies. Sed molestie tempus eros et faucibus. Donec cursus, neque vel aliquet suscipit, felis mi auctor neque, sit amet pharetra risus est in arcu. In ligula turpis, dictum sit amet suscipit et, posuere eget justo. Phasellus at est mauris. Phasellus erat erat, aliquet in est ut, mollis varius odio. Fusce ac feugiat nisi. Ut fermentum ac dui in vestibulum. Cras commodo dapibus ligula, tincidunt iaculis justo pretium vel. Curabitur accumsan orci sed dui porttitor ullamcorper. Integer id risus quis lectus dapibus luctus. Nulla nec massa ut tellus porttitor varius.</p>
</br>
<h5>What must be mentioned:</h5>
<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat nulla at maximus cursus. Fusce congue tempor nunc sit amet fringilla. Sed scelerisque dolor a feugiat mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam convallis magna in nibh pellentesque, sed tempus urna ultricies. Sed molestie tempus eros et faucibus. Donec cursus, neque vel aliquet suscipit, felis mi auctor neque, sit amet pharetra risus est in arcu. In ligula turpis, dictum sit amet suscipit et, posuere eget justo. Phasellus at est mauris. Phasellus erat erat, aliquet in est ut, mollis varius odio. Fusce ac feugiat nisi. Ut fermentum ac dui in vestibulum. Cras commodo dapibus ligula, tincidunt iaculis justo pretium vel. Curabitur accumsan orci sed dui porttitor ullamcorper. Integer id risus quis lectus dapibus luctus. Nulla nec massa ut tellus porttitor varius.</p>

<hr class="px-5 mx-5">
<hr class="px-5 mx-5">

<h2>Pictures</h2>
<h5>What kind of pictures to select:</h5>
<p class="text-justify">Aenean quis nulla id leo volutpat laoreet sed ac nibh. Nulla facilisi. Donec at ultricies ex, at sodales ligula. Fusce tristique sapien eget purus convallis, in laoreet erat consectetur. Morbi porta est dolor, et euismod turpis placerat quis. Phasellus sit amet odio vel massa aliquam lobortis. Sed quis ipsum nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et tellus et diam dictum euismod.</p>
</br>
<h5>How to take good pictures:</h5>
<p class="text-justify">Duis dui augue, condimentum ut purus quis, molestie aliquam urna. Integer tempor felis faucibus felis porta facilisis. Sed interdum sed nisl facilisis finibus. Nunc hendrerit feugiat felis, id dictum dui vestibulum eu. Aliquam ipsum sem, accumsan efficitur quam at, tristique venenatis erat. Nullam augue ligula, luctus a lobortis nec, posuere in nisl. Fusce sed ante in lacus euismod eleifend in nec dolor. Nulla facilisi. Phasellus luctus sodales nibh, non ullamcorper nisl eleifend sed. Suspendisse auctor arcu commodo feugiat venenatis. Duis iaculis enim a ipsum euismod, id venenatis erat mollis. Donec in lectus quis tellus faucibus aliquet.</p>

<hr class="px-5 mx-5">

  <div class="text-center">
  <a href="/profileFacility">
          <button class="btn btn-primary">Back to profile</button>
      </a>
  </div>