<form method="POST" action="/login">
  <label>
    Email address:
    <input type="text" name="facilityemail">
  </label>
  <br>
  <label>
    Password:
    <input type="password" name="password">
  </label>
  <button>Login</button>
</form>

<button>
  <a href="/">Back to Menu</a>
</button>