<form method="POST" action="/loginFacility">
  <label>
    Email address:
    <input type="text" name="facilityemail">
  </label>
  <br>
  <label>
    Password:
    <input type="password" name="password">
  </label>
  <button class="btn btn-primary">Login</button>
</form>

<a href="/">
  <button class="btn btn-primary">Back to Menu</button>
</a>