<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2 m-0">
<a class="navbar-brand nav-link pl-2" href="/">
  <img src="/images/ASPHALT_BLANC-02.png" alt="logo" id="asphaltLogo"/>
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
  aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarColor02">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/loginFacility">Login</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Enter a zipcode" name:"zipcodeNavBar">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
</nav>


<section id="sectionSignupFacility" class="p-3 m-3">

<div class="text-center">
<h3> Join Asphalt Club awesome referenced facilities!</h3>
</div>

<form method="POST" action="/signupFacility" enctype='multipart/form-data'>
  <fieldset>   
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="facilityemail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <div class="form-group">
    <label for="exampleInputName">Name</label>
    <input type="text" name="name" class="form-control" id="facilityName" placeholder="Enter name of the facility">
  </div>

  <div class="form-group">
  <label for="exampleInputAddress">Address</label>
  <input type="text" name="address" id="address" class="form-control" placeholder="Enter address">
</div>

  <div class="form-group">
  <label for="exampleInputPhoneNumber">Phone Number</label>
  <input type="text" name="phone" class="form-control" id="exampleInputPhoneNumber" placeholder="Enter phone number">
</div>

<div class="form-group">
<label for="exampleInputWebsite">Website</label>
<input type="text" name="website" class="form-control" id="exampleInputWebsite" placeholder="Enter website URL">
</div>


<div class="form-group">
<label for="exampleInputFile">Profile Picture</label>
<input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" name="facility-picture">
<small id="fileHelp" class="form-text text-muted">Please, select a profile picture.</small>
</div>

      <fieldset class="form-group">
      <label for="exampleSelect2">Type of Club</label>
      <div class="form-check">
      <ul>
      <li>
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="facilityType" id="Squash" value="Squash" checked="">
          Squash
        </label>
        </li>
        <li>
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="facilityType" id="Zloutch" value="Zloutch" checked="">
          Zloutch
        </label>
        </li>
        <li>
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="facilityType" id="Futsal" value="Futsal" checked="">
          Futsal Urban
        </label>
        </li>
        <li>
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="facilityType" id="Boxing" value="Boxing" checked="">
          Boxing
        </label>
        </li>
        <li>
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="facilityType" id="Badminton" value="Badminton" checked="">
          Badminton
        </label>
        </li>
        <li>
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="facilityType" id="otherClubType" value="otherClubType" checked="">
          <input type="text" name="otherType" id="otherType" class="form-control-sm" placeholder="Other, please specify">
        </label>
        </li>
        </ul>
      </div>
    </fieldset>

      <div class="form-group">
      <label for="exampleSelect2">Opening Days</label>
      <select multiple="" class="form-control" id="OpeningDays" type="text" name="openingDays">
        <option>Monday</option>
        <option>Tuesday</option>
        <option>Wednesday</option>
        <option>Thursday</option>
        <option>Friday</option>
        <option>Saturday</option>
        <option>Sunday</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="exampleTextarea">Description</label>
      <textarea type="text" name="description" class="form-control" id="exampleTextarea" rows="3"></textarea>
    </div>
  
 
   
    <button type="submit" class="btn btn-primary">Submit</button>
    <label id="tohide" for="zipcode">Code postal :
      <input type="text" id="zipcode" name="zipcode">
    </label>
  </fieldset>
</form>

<hr>
<div class="text-center">
<h4>Already registered?</h4>
<a href="/loginFacility"><button class="btn btn-primary">Login</button></a>
</div>

</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUfPqsVciBh7e45HfrpxxhWRpWkuILS1E&libraries=places&callback=init"></script>
