<form method="POST" action="/signupFacility" class="text-center">
  <label>
    Email address:
    <input type="text" name="facilityemail">
  </label>
  <br>
  <label>
    Password:
    <input type="password" name="password">
  </label>

  <label>
    Facility Name
    <input type="text" name="name">
  </label>
  <br/>

  <label>
    Address
    <textarea type="text" name="address"></textarea>
  </label>
  <br/>

  <label>
    Postal Code
    <input type="number" name="postalCode">
  </label>
  <br/>

  <label>
    Phone Number
    <input type="text" name="phone">
  </label>
  <br/>


  <label>
    Facility Type
    <input type="text" name="facilityType">
  </label>
  <br/>

  <label>
    Description
    <textarea type="text" name="description"></textarea>
  </label>
  <br/>

  <label>
    Opening Days
    <textarea type="text" name="openingDays"></textarea>
  </label>
  <br/>

  <label>
    Website
    <input type="text" name="website">
  </label>

  <br/>
  <button class="btn btn-primary">Signup</button>
</form>

<a href="/">
  <button class="btn btn-primary">Back to Menu</button>
</a>

<hr>
<div class="text-center">
  <p>Already registered?</p>
  <a href="/loginFacility">
    <button class=" btn btn-primary btn-lg">Login</button>
  </a>
</div>