<form method="POST" action="/signupFacility" enctype='multipart/form-data'>
  <label>
    Email address:
    <input type="text" name="facilityemail">
  </label>
  <br>
  <label>
    Password:
    <input type="password" name="password">
  </label>

  <label>
    Facility Name
    <input type="text" name="name">
  </label>
  <br/>
  
  <label>
  Photo:
  <input type="file" name="facility-picture">
</label>
<br>

  <label>
    Address
    <input type="text" name="address" id="address"></input>
  </label>
  <br/>

  <!-- <label>
    Postal Code
    <input type="number" name="postalCode">
  </label>
  <br/> -->

  <label>
    Phone Number
    <input type="text" name="phone">
  </label>
  <br/>


  <label>
    Facility Type
    <input type="text" name="facilityType">
  </label>
  <br/>

  <label>
    Description
    <textarea type="text" name="description"></textarea>
  </label>
  <br/>

  <label>
    Opening Days
    <textarea type="text" name="openingDays"></textarea>
  </label>
  <br/>

  <label>
    Website
    <input type="text" name="website">
  </label>
  <br/>

  <button>Signup</button>
  <label id="tohide" for="zipcode">Code postal :
    <input type="text" id="zipcode" name="zipcode">
  </label>
</form>

<button>
  <a href="/">Back to Menu</a>
</button>

<br/>
<p>Already registered?</p>
<button>
  <a href="/loginFacility">Login</a>
</button>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUfPqsVciBh7e45HfrpxxhWRpWkuILS1E&libraries=places&callback=init"></script>