<h1>
    <%= user.username %>
</h1>
<img src="<%= user.picPath %>">
<p>
    <%= user.address %>
</p>

</br>
<div class="text-center">
    <a href="/search">
        <button class="btn btn-primary">Set up a game</button>
    </a>

    <a href="/profileUser">
        <button class="btn btn-primary">Modify Profile</button>
    </a>

    <a href="/logout ">
        <button class="btn btn-primary">Log Out</button>
    </a>
</div>